
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*

KMLibUsageApp/Data/colon-cancer.bz2
KMLibUsageApp.psess
KMLibUsageApp/Data/real-sim.bz2
*.vsp
KMLibUsageApp/Data/*.binary
KMLibUsageApp/Data/a9a
KMLibUsageApp/Data/a9a.t
KMLibUsageApp/Data/mnist.scale
KMLibUsageApp/Data/mnist.scale.t
KMLibUsageApp/Data/w8a
KMLibUsageApp/Data/w8a.t